<ion-view view-title="Friends">
    <ion-content>
        
            <div class="list animate-fade-slide-in-right">
                <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                    <img src="img/dulitha.jpg">
                    <h2>Dulitha Dabare</h2>
                    <p>CSE Undergraduate</p>
                    
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                    <img src="img/dilanka.jpg">
                    <h2>Dilanka Gamage</h2>
                    <p>Mechanical Undergraduate</p>
                    
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                    <img src="img/udara.jpg">
                    <h2>Udara Bibile</h2>
                    <p>CSE Undergraduate</p>
                    
                    <i class="icon ion-chatbubble muted"></i>
                </a>
            </div>
        
    </ion-content>
</ion-view>
