<ion-view view-title="Groups">
    <ion-content ng-class="{expanded:isExpanded}">
        <div>
            <a ng-repeat="group in GroupsList track by $index" href="#/app/groups/{{group.id}}" class="item item-avatar item-icon-right">
                <img src="img/material1.jpg">
                <h2>{{group.group_name}}</h2>
                <p>{{group.description}}</p>
                <i class="icon ion-chevron-right muted"></i>
            </a>
            <!-- <a href="#/app/groups/TTmora" class="item item-avatar item-icon-right">
                <img src="img/dilanka.jpg">
                <h2>Mora TT</h2>
                <p>TT team polling Group</p>
                <i class="icon ion-chevron-right muted"></i>
            </a>
            <a href="#/app/groups/RCM2" class="item item-avatar item-icon-right">
                <img src="img/udara.jpg">
                <h2>RC M2</h2>
                <p>Royal <3 </p>
                <i class="icon ion-chevron-right muted"></i>
            </a> -->

        </div>

        
    </ion-content>
</ion-view>
