<ion-view view-title="{{grp}}">

    <ion-floating-button click="myEvent()" has-footer="false" button-color="#e42112" icon="ion-plus" iconColor="#fff">
    </ion-floating-button>
    <ion-floating-menu>

      <ion-floating-item icon="ion-person-add ink" ui-sref="app.friendsChoose"></ion-floating-item>
      <ion-floating-item icon="ion-plus ink" ui-sref="app.crtpoll"></ion-floating-item>
      <ion-floating-item icon="ion-person-stalker ink" ui-sref="app.groupMembers"></ion-floating-item>

    </ion-floating-menu>
    <ion-content ng-class="{expanded:isExpanded}">
      <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

        <ion-item style="border-bottom:1px solid #e6e6e6"ng-repeat="poll in PollsList"
                  item="item"
                  class="item item-avatar item-icon-right padding-vertical"
                  href="#/app/groups/{{grp}}/{{poll.id}}" class="item-remove-animate">
                  <img src="img/material1.jpg">
                  <strong>{{poll.name}}</strong> asked </br>
                  <strong>{{poll.pll_name}}</strong>
                  <p> {{poll.description}}</p>
                  <i class="icon ion-chevron-right muted"></i>
          <ion-delete-button class="ion-minus-circled"
                             ng-click="onItemDelete(item)">
          </ion-delete-button>
          <ion-option-button class="button-assertive"
                             ng-click="delete(poll.id)">
            <i class="icon ion-trash-b"></i>
          </ion-option-button>
          <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
        </ion-item>

      </ion-list>
        <!-- <div can-swipe="listCanSwipe" >
            <a ng-repeat="poll in PollsList track by $index" href="#/app/groups/{{grp}}/{{poll.id}}" class="item item-avatar item-icon-right padding-vertical">
                <img src="img/material1.jpg">
                <strong>{{poll.name}}</strong> asked
                <strong>{{poll.pll_name}}</strong>
                <p> {{poll.description}}</p>
                <i class="icon ion-chevron-right muted"></i>
            </a>


        </div> -->
    </ion-content>
</ion-view>
