<ion-view view-title="{{grp}}">
    <ion-content ng-class="{expanded:isExpanded}">
      
        <div >
            <a ng-repeat="poll in PollsList track by $index" href="#/app/groups/{{grp}}/{{poll.id}}" class="item item-avatar item-icon-right padding-vertical">
                <img src="img/material1.jpg">
                <strong>{{poll.name}}</strong> asked.
                <strong>{{poll.pll_name}}</strong>
                <p> {{poll.description}}</p>
                <i class="icon ion-chevron-right muted"></i>
            </a>


        </div>
    </ion-content>
</ion-view>
