<ion-view view-title="Groups">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="list animate-fade-slide-in-right">
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/dulitha.jpg">
                <h2>CSE 13 Family</h2>
                <p>CSE 13 batch polling group</p>
                <i class="icon ion-chevron-right muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/dilanka.jpg">
                <h2>Mora TT</h2>
                <p>TT team polling Group</p>
                <i class="icon ion-chevron-right muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/udara.jpg">
                <h2>RC M2</h2>
                <p>Royal <3 </p>
                <i class="icon ion-chevron-right muted"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
