<ion-view view-title="CREATE GROUP">
    <ion-content ng-class="{expanded:isExpanded}">
      <form>
          <div class="list">
              <label class="item item-input item-floating-label">
                  <span class="input-label">Group Name</span>
                  <input type="text" placeholder="group name" ng-model="group.group_name">
              </label>
              <label class="item item-input item-floating-label">
                  <span class="input-label">Description</span>
                  <input type="text" placeholder="description" ng-model="group.description">
              </label>
              <label class="item">
                  <button class="button button-block button-positive ink" on-touch="createGroup()">create group</button>
                  <button class="button button-block button-assertive ink" on-touch="closeModal()">Close</button>
              </label>
          </div>

      </form>
    </ion-content>
</ion-view>
