<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <!-- <div class="app-icon"></div> -->
                <h1>eVOTE</h1>
            </div>
        </div>
        <div class="list" style="">
            <ion-md-input ng-model="user.name" placeholder="Username" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input ng-model="user.password" placeholder="Password" highlight-color="energized" type="password"></ion-md-input>
        </div>
        <div class="padding">
            <button ng-click="authenticate()" class="button button-full button-assertive ink">Login</button>
            <button ui-sref="app.register" class="button button-full button-balanced ink">Sign Up</button>
        </div>
        
    </ion-content>
</ion-view>
