<ion-modal-view>
    <ion-header-bar class="bar-assertive">
        <h1 class="title">Create Poll</h1>

    </ion-header-bar>
    <ion-content>
        <form ng-submit="save_poll()">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Poll Name</span>
                    <input type="text" placeholder="Poll name" ng-model="poll.poll_name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">description</span>
                    <input type="text" placeholder="description" ng-model="poll.description">
                </label>
                <label class="item">
                    <button class="button button-block button-positive ink" type="submit">create Poll</button>
                    <button class="button button-block button-assertive ink" on-touch="closeModal()">Close</button>
                </label>

            </div>
        </form>
    </ion-content>
</ion-modal-view>
