<ion-view view-title="CREATE POLL">
    <ion-content ng-class="{expanded:isExpanded}">
      <form name="pollForm" novalidate>
          <div>
            <label class="item item-input item-floating-label no-errors"  ng-class="{ 'has-errors' : pollForm.pollName.$invalid && pollForm.pollName.$touched , 'no-errors' : pollForm.pollName.$valid && pollForm.pollName.$touched}">
                <span class="input-label">poll Name</span>
                <input type="text" name="pollName" placeholder="poll name" ng-model="poll.poll_name" ng-minlength="5" ng-maxlength="20" required>
            </label>
            <div class="error-container" ng-show="pollForm.pollName.$error && pollForm.pollName.$touched" ng-messages="pollForm.pollName.$error">
              <div ng-messages-include="templates/error-list.html"></div>
            </div>
            <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : pollForm.description.$invalid && pollForm.description.$touched, 'no-errors' : pollForm.description.$valid && pollForm.description.$touched}">
                <span class="input-label">Description</span>
                <input type="text" name="description" placeholder="description" ng-model="poll.description" ng-minlength="5" ng-maxlength="20" required>
            </label>
            <div class="error-container last-error-container"  ng-show="pollForm.description.$error && pollForm.description.$touched" ng-messages="pollForm.description.$error">
              <div ng-messages-include="templates/error-list.html"></div>
            </div>
            <label class="item item-input item-select">
              <div class="input-label">
                Editable
              </div>
              <select>
                <option>Yes</option>
                <option selected>No</option>
              </select>
            </label>
            <label class="item item-input">
                  <span class="input-label">Due Date</span>
                  <input type="date" ng-model="data.dueDate">
            </label>
            <label class="item">
                <button class="button button-block button-positive ink" ng-disabled="pollForm.$invalid" on-touch="addPoll()">create poll</button>
                <button class="button button-block button-assertive ink" on-touch="getSpoll()">Close</button>
            </label>
          </div>
      </form>
    </ion-content>
</ion-view>
