<ion-view view-title="poll {{pll}}">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="item card-item">
            <div class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/dulitha.jpg');"></span>

                    <strong>{{PollInfo.pll_name}} <small>{{judge}}</small></strong>
                    <p> {{PollInfo.description}}</p>
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubble positive"></i> 6

                        <div class="pull-left">
                            <i class="icon ion-clock"></i> Deadline: {{PollInfo.deadline}}
                        </div>
                    </div>
                </div>
                <ion-radio ng-repeat="chce in PollChoices track by $index" ng-model="$parent.currentTask" ng-change="setVote(chce.choice_ID);" ng-value="{{chce.choice_ID}}" >{{chce.choice}}</ion-radio>
            </div>
        </div>

        <div class="row">
          <div class="col">
            <button id="doneButton" class="button col button-block button-calm ink" ng-disabled="task" on-touch="addVote();"><i class="icon ion-checkmark"></i>  Done</button>

          </div>
          <div class="col">
            <button class="button button-block button-assertive ink" on-touch="closePoll();">Close</button>
          </div>
        </div>

        <canvas id="pie" class="chart chart-doughnut"
          chart-data="data" chart-legend="true" chart-labels="labels">
        </canvas>
    </ion-content>
</ion-view>
