<ion-view view-title="CREATE POLL">
    <ion-content ng-class="{expanded:isExpanded}">
      <form name="pollChoiceForm" novalidate>
        <label ng-repeat="choice in choices" class="item item-input">
          <i class="icon ion-plus placeholder-icon"></i>
          <input ng-model="choice.text" type="search" placeholder="choice">
        </label>
        <label class="item">
            <button class="button button-block button-calm ink" ng-click="addChoice();"><i class="icon ion-plus"></i>  Add</button>
            <button class="button button-block button-assertive ink" ng-click="closeModal();">Close</button>
        </label>
      </form>
    </ion-content>
</ion-view>
