<ion-view view-title="CREATE POLL">
    <ion-content ng-class="{expanded:isExpanded}">
      <form name="pollForm" novalidate>
          <div>
            <label class="item item-input item-floating-label no-errors"  ng-class="{ 'has-errors' : pollForm.pollName.$invalid && pollForm.pollName.$touched , 'no-errors' : pollForm.pollName.$valid && pollForm.pollName.$touched}">
                <span class="input-label">poll Name</span>
                <input type="text" name="pollName" placeholder="poll name" ng-model="poll.pll_name" ng-minlength="5" ng-maxlength="20" required>
            </label>
            <div class="error-container" ng-show="pollForm.pollName.$error && pollForm.pollName.$touched" ng-messages="pollForm.pollName.$error">
              <div ng-messages-include="templates/error-list.html"></div>
            </div>
            <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : pollForm.description.$invalid && pollForm.description.$touched, 'no-errors' : pollForm.description.$valid && pollForm.description.$touched}">
                <span class="input-label">Description</span>
                <input type="text" name="description" placeholder="description" ng-model="poll.description" ng-minlength="5" ng-maxlength="20" required>
            </label>
            <div class="error-container last-error-container"  ng-show="pollForm.description.$error && pollForm.description.$touched" ng-messages="pollForm.description.$error">
              <div ng-messages-include="templates/error-list.html"></div>
            </div>
            <label class="item item-input item-select" ng-class="{ 'has-errors' : pollForm.edit.$invalid && pollForm.edit.$touched, 'no-errors' : pollForm.edit.$valid && pollForm.edit.$touched}">
              <div class="input-label">
                Editable
              </div>
              <select name="edit" ng-model="poll.editable" required>
                <option value="Yes">Yes</option>
                <option value="No" selected>No</option>
              </select>
            </label>
            <div class="error-container last-error-container"  ng-show="pollForm.edit.$error && pollForm.edit.$touched" ng-messages="pollForm.edit.$error">
              <div ng-messages-include="templates/error-list.html"></div>
            </div>
            <label class="item item-input item-select" ng-class="{ 'has-errors' : pollForm.ldate.$invalid && pollForm.ldate.$touched, 'no-errors' : pollForm.ldate.$valid && pollForm.ldate.$touched}" class="item item-input">
                  <span class="input-label">Due Date</span>
                  <input name="ldate" type="date" ng-model="poll.deadline">
            </label>
            <div class="error-container last-error-container"  ng-show="pollForm.ldate.$error && pollForm.ldate.$touched" ng-messages="pollForm.ldate.$error">
              <div ng-messages-include="templates/error-list.html"></div>
            </div>
            <label class="item">
                <button class="button button-block button-positive ink" ng-disabled="pollForm.$invalid" on-touch="addPoll()">create poll</button>
                <button class="button button-block button-assertive ink" on-touch="closeModel()">Close</button>
            </label>
          </div>
      </form>
    </ion-content>
</ion-view>
