<ion-view view-title="Register" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <!-- <div class="app-icon"></div> -->
                <h1>eVOTE Register</h1>
            </div>
        </div>
        <div class="list">
            <ion-md-input ng-model="userR.name" placeholder="Username" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input ng-model="userR.tel"  placeholder="telephone" highlight-color="energized" type="tel"></ion-md-input>
            <ion-md-input ng-model="userR.password"  placeholder="Password" highlight-color="energized" type="password"></ion-md-input>
        </div>
        <div class="padding">
            <button ng-disabled="!userR.name || !userR.tel || !userR.password" class="button button-full button-calm ink">Register</button>
            <button ui-sref="app.login" class="button button-full button-balanced ink">Back</button>
        </div>

    </ion-content>
</ion-view>
